* {
    box-sizing: border-box;
}

li {
    border: 1px lightblue solid;
    border-radius: 7px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px;
}

li>p {
    margin: 5px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    display: inline-block;
    text-align: center;
    width: 33%;
}

#loading {
    color: lightblue;
    font-size: xx-large;
    text-align: center;
}

p {
    color: lightblue;
}

label {
    color: lightblue;
}

select {
    font-family: Arial;
    border-radius: 10px;
    background-color: rgb(152, 218, 240);
    text-align: center;
    border-color: lightblue;
}

select>option {
    border-radius: 10px;
    text-align: center;
    font-size: 60;
}

#price {
    text-align: center;
}

#pizza-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pizza-content {
    display: inline;
}

.content {
    color: lightblue;
    text-align: center;
}

.pizza-main-title {
    text-align: center;
}

li>* {
    text-align: center;
}

.logo-block {
    display: inline-block;
    position: relative;
    top: 17px;
}

.producer-name {
    display: inline;
}

.producer-block {
    text-align: center;
}

.option {
    display: inline;
}

.option-title {
    margin-bottom: 5px;
}

#piz-img {
    margin-top: 2px;
}

.left, .right {
    flex-grow: 1;
    width: 50%;
}

.list-item {
    display: flex;
}

#content{
    margin-top: 0;
}

#pizza-name {
    margin-bottom: 0;
}